.container {
  $_border-radius: 1.5rem;
  $_padding: .5rem;
  $_inner-radius: calc($_border-radius - $_padding);

  @include flex(flex-start, flex-start, column);
  gap: $_padding;
  width: 95%;
  max-width: 600px;
  background: $dark-bg-lighter;
  border: 2px solid $dark-bg-lighter-2;
  border-radius: $_border-radius;
  padding: $_padding;

  .container-header {
    @include flex;
    width: 100%;
    height: 40px;
    background: $dark-bg-lighter-2;
    border-radius: $_inner-radius;
    padding-block: $_padding;
    user-select: none;

    nav {
      ul {
        @include flex(flex-start);
        padding-inline: calc($_padding * 1.5);
        gap: calc($_padding * 1.5);
      }

      li {
        @include flex;
        gap: .3rem;
        font-size: .8rem;
        cursor: pointer;

        &.active {
          color: $danger;
        }
      }
    }

    .nav-selections {
      flex: 1;
    }

    .line {
      height: 100%;
      width: 5px;
      flex-shrink: 0;
      border-radius: 99rem;
      background: $dark-bg-lighter;
      border: none;
    }

    .nav-options {
      .repetitions-options {
        display: none;
      }
    }
  }

  .label-wrapper {
    @include flex(space-between);
    width: 100%;

    label {
      font-size: .85rem;
      color: $dark-bg-lighter-3;
    }
  }

  .output-display {
    $_inner-inner-radius: calc($_inner-radius - $_padding);

    @include flex(flex-start);
    gap: $_padding;
    width: 100%;
    height: 40px;
    border: 2px dashed $dark-bg-lighter-2;
    border-radius: $_inner-radius;
    padding: $_padding;
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &.overflow-right {
      mask-image: linear-gradient(to left, transparent, hsl(0, 0%, 0%) 20%);
    }

    &.overflow-left {
      mask-image: linear-gradient(to right, transparent, hsl(0, 0%, 0%) 20%);
    }

    &.overflow-both {
      mask-image: linear-gradient(to right, transparent, hsl(0, 0%, 0%) 20% 80%, transparent);
    }

    .output-placeholder {
      @include flex(flex-start);
      gap: $_padding;
      font-size: .85rem;
      color: $dark-bg-lighter-3;
      height: 100%;

      kbd {
        @include flex;
        background: $dark-bg-lighter-2;
        color: $dark-color;
        font-weight: 400;
        border-radius: $_inner-inner-radius;
        padding-inline: calc($_padding / 2);
        height: 100%;
        font-family: inherit;
      }
    }

    .key {
      @include flex;
      height: 100%;
      border-radius: $_inner-inner-radius;
      padding: calc($_padding / 2);
      color: $light-color;

      &.correct {
        background: $success;
      }

      &.incorrect {
        background: $warning;
      }
    }
  }
}