.modal {
  @include flex;
  position: absolute;
  inset: 0;
  display: none;
  background: hsla(0, 0%, 0%, .25);
  backdrop-filter: blur(1px);
  
  .modal-content {
    $_border-radius: 1.5rem;
    $_padding: .5rem;
    $_inner-radius: calc($_border-radius - $_padding);
    $_inner-inner-radius: calc($_inner-radius - $_padding);

    @include flex(flex-start, flex-start, column);
    gap: calc($_padding * 2);
    background: $dark-bg-lighter;
    width: 95%;
    max-width: 500px;
    border: 2px solid $dark-bg-lighter-2;
    border-radius: $_border-radius;
    padding: calc($_padding * 2);

    .close-modal-btn {
      background: $dark-bg-lighter-2;
    }

    .save-stats-btn,
    .restart-btn {
      background: $success;
      color: $light-color;
    }

    .modal-header {
      @include flex(space-between, flex-start);
      width: 100%;

      .close-modal-icon {
        color: $dark-bg-lighter-3;
        cursor: pointer;
      } 
    }

    .modal-body {
      @include flex;
      width: 100%;
      flex-direction: column;
      gap: $_padding;

      & > * {
        width: 100%;
        border-radius: $_inner-radius;
        @include flex(space-between);
        padding: $_padding;
        border: 2px dashed $dark-bg-lighter-2;
        height: 40px;

        span {
          @include flex;
          gap: $_padding;
          height: 100%;
          font-size: .85rem;
          color: $dark-color;

          kbd {
            padding: .25rem;
            font-family: inherit;
            font-weight: 400;
            border-radius: $_inner-inner-radius;
            background: $dark-bg-lighter-2;
            color: $dark-color;
          }
        }
      }
    }

    .modal-footer {
      @include flex(flex-end);
      gap: inherit;
      width: 100%;

      button {
        @include flex;
        gap: $_padding;
        height: 40px;
        padding-inline: 1.5rem;
        font-size: .9rem;
        border: none;
        border-radius: $_inner-radius;
      }
    }
  }
}