.modal {
  @include flex;
  position: absolute;
  inset: 0;
  display: none;
  background: hsla(0, 0%, 0%, .25);
  backdrop-filter: blur(1px);
  
  .modal-content {
    $_border-radius: 1.5rem;
    $_padding: 1rem;
    $_inner-radius: calc($_border-radius - $_padding);
    $_inner-inner-radius: calc($_inner-radius - ($_padding / 2));

    @include flex(flex-start, flex-start, column);
    gap: $_padding;
    background: $dark-bg-lighter;
    width: 95%;
    max-width: 500px;
    border: 2px solid $dark-bg-lighter-2;
    border-radius: $_border-radius;
    padding: $_padding;

    .close-modal-btn {
      background: $dark-bg-lighter-2;
    }

    .save-stats-btn {
      background: $success;
      color: $light-color;
    }

    .modal-header {
      @include flex(space-between, flex-start);
      width: 100%;

      .close-modal-icon {
        color: $dark-bg-lighter-3;
        cursor: pointer;
      } 
    }

    .modal-body {
      @include flex;
      width: 100%;
      flex-direction: column;
      gap: calc($_padding / 2);

      & > * {
        width: 100%;
        border-radius: $_inner-radius;
      }

      .change-used-keys {
        @include flex(space-between);
        padding: $_padding;
        background: $dark-bg-lighter-2;
        height: 40px;

        span {
          @include flex;
          gap: $_padding;
          height: 100%;
          font-size: .85rem;
          color: $dark-color;

          &:has(kbd) {
            height: 100%;
          }

          kbd {
            font-family: inherit;
          }
        }
      }
    }

    .modal-footer {
      @include flex(flex-end);
      gap: inherit;
      width: 100%;

      button {
        border-radius: $_inner-radius;
        padding: .65rem 1.5rem;
        border: none;
        font-size: .9rem;
      }
    }
  }
}